@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;800&display=swap');

:root {
  --background: #050509;
  --foreground: #ffffff;

  --purple: #8b5cf6;
  --blue: #2563eb;
  --cyan: #22d3ee;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Heebo", sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}